[init]
  templatedir = ~/.git_templates
[color "diff"]
  meta = "yellow bold"
  commit = "green bold"
  frag = "magenta bold"
  old = "red bold"
  new = "green bold"
  whitespace = "red reverse"
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[core]
  editor = vim
  excludesfile = ~/.gitignore
  pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[push]
  default = current
[user]
  name = Greg White
  email = gkwhite95@gmail.com
[color]
  ui = true
[alias]
  a = add -A
  cl = "!. ~/.githelpers && git_pretty_log"
  cm = commit -m
  co = checkout
  cod = checkout develop
  cob = checkout -b
  ca = commit --amend --reuse-message HEAD
  save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit -am "$1" && git checkout "$PREV"' -
  label = commit --allow-empty -m
  push-up = "!. ~/.githelpers && set_upstream" && git push
[pretty]
  colored = format:%C(yellow)%h %C(red)%ad %C(blue)%an %C(reset)%s
[help]
  autocorrect = 5
[rerere]
  enabled = true
