[core]
	editor = vim
[push]
	default = current
[user]
	name = Greg White
	email = gkwhite95@gmail.com
[color]
	ui = true
[alias]
	a = add -A
  cl = log --name-only --pretty=colored --author Greg
  cm = commit -m
  co = checkout
  cod = checkout develop
  cob = checkout -b
  ca = commit --amend --reuse-message HEAD
  save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit -am "$1" && git checkout "$PREV"' -
[pretty]
  colored = format:%C(bold yellow)%h%Creset %s %Cgreen(%cr)
[help]
	autocorrect = 5
