snippet er "Embedded Ruby Tag - Rendered"
<%= ${1:tag} %>$2
endsnippet

snippet ei "Embedded Ruby Tag - Non Rendered"
<% ${1:tag} %>$2
endsnippet

snippet end "End tag"
<% end %>
endsnippet

snippet < "tag" i
<$1>$2</$1>$0
endsnippet
